body {
  
}
a {
  position: relative;
  top: 10px;
  right: 10px;
  display: inline;
  padding: 0px 10px 10px 0px;
  text-decoration: none;
  font-family: arial,sans-serif;
  font-size: 13px;
  color: black;
}
img {
  top: 19%;
  left: 43%;
  position: absolute;
}


li {
  list-style: none;
}

.menubutton {
  position: relative;
  margin: 100px 100px 100px 100px;
}

.menubutton img {
  height: 20px;
  width: 20px;
}

.rightli {
  float: right;
  padding: 5px 0px 0px 20px;
}

ul.horizontal li {
  display: inline;
  position: relative;
  right: 20px;
  top: 5px;
  padding: 5px 0px 0px 20px;
}

input {
  height: 50px;
  width: 575px;
  top: 34%;
  left: 35%;
  position:fixed;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
}

.navbar {
  background-color: #fafaff;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px;
}

.navbar a {
  font-size: 14px;
  float: left;
  padding: 0px 0px 25px 25px;
  text-decoration: none;
  color: #5f6368;
}

.navbar_right a{
  font-size: 14px;
  float: right;
  padding: 0px 25px 25px 0px;
  text-decoration: none;
  color: #5f6368;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}