body {
  
}

.topleft {
  float: left;
}

.topleft li {
  display: inline;
}

.topright {
  float: right;
}

.topright li {
  display: inline;
}

.topright img {
height: 20px;
width: 20px;

}

.footerleft {
  float: left;
}

.footerleft li {
  display: inline;
}

.footerright {
  float: right;
}

.footerright li {
  display: inline;
}

footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer li {
  list-style-type: none;
}
 
a {
  position: relative;
  top: 10px;
  right: 10px;
  display: inline;
  padding: 0px 10px 10px 0px;
  text-decoration: none;
  font-family: arial,sans-serif;
  font-size: 13px;
  color: black;
}
img {
  top: 19%;
  left: 43%;
  position: absolute;
}


li {
  list-style: none;
}

input {
  height: 50px;
  width: 575px;
  top: 34%;
  left: 35%;
  position:fixed;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}